html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./data/back_login.jpg"); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}
