html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("./data/background.jpg"); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-container {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    color: white; /* Text color for visibility */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    margin: 50px auto;
    text-align: center;
  }