html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("./data/background.jpg"); /* Path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-container {
    background-color: rgba(0, 0, 0, 0.4); /* Black with 50% transparency */
    color: white; /* Text color for visibility */
    padding: 0;
    border-radius: 25px;
    width: 80%;
    height: 80%;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
    backdrop-filter: blur(6px); /* Applies blur effect to the background */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
  }

#modal, #update-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
  }

#modal-content {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    color: #000;
  }

#close-btn {
    float: right;
    cursor: pointer;
    color: red;
  }

.menu-panel {
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    border-radius: 0 0 25px 25px;
}

.menu-panel button {
    background-color: transparent;
    color: #1c0303;
    font-family: Arial, sans-serif;
    font-size: 24px;
    border: 1px black;
    cursor: pointer;
    width: 25%;
    height: 100%;
    transition: color 0.3s, background-color 0.3s;
  }

.menu-panel button:hover {
    color: #ddd;                   /* Change text color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly visible background on hover */
  }


  .menu-panel button.active {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
    font-weight: bold; /* Optional: to make the active button stand out */
  }


/* Content Sections */
.content-container {
    padding: 0;
    margin: 0;
    height: 85%;
  }
  
  .page {
    display: none; /* Hidden by default */
  }
  
  .page.active {
    display: block; /* Show only the active page */
  }

  .home {
    height: 100%;
  }

  .device-container {
    background-color: rgba(255, 255, 255, 0.1);
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 30px;
    scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
  }

  .device-container::-webkit-scrollbar {
    width: 25px;
  }

  .device-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  .device-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.1);
  }

  .device-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7);
    }

  .device {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 25px;
      padding: 5px;
      margin: 20px;
      background-color: transparent;
    }


/* Row styling */
.device-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Column styling */
.device-column {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

/* Specific column widths */
.device-name {
  width: 30%;
}

.device-info {
  align-items: flex-start;
  width: 50%;
}

.device-actions {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between buttons */
}

/* Button styling */
.update-button, .delete-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button {
  background-color: rgba(52, 152, 219, 0.5);
  color: #fff;
}

.delete-button {
  background-color: rgba(231, 76, 60, 0.5);
  color: #fff;
}

.update-button:hover {
  background-color: rgba(52, 152, 219, 0.7);
}

.delete-button:hover {
  background-color: rgba(231, 76, 60, 0.7);
}